[submodule "public"]
	path = public
	url = https://github.com/Dlatreyte/dlatreyte.github.io.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
